.face{
  height:200px;
  width:200px;

}
body{
  text-align: center;
   background-color:#FCF8E8 ;
   margin: 0;
 font-family: 'Patrick Hand', cursive;
}
.pro{
  text-decoration: underline;
}
.topc{
  position :absolute;
  right : 15%;
  top : 10%;

}
.botc{
  position :absolute;
    top : 50%  ;
    left : 20%;
}
.topcont{
  background-color: #EAF6F6;
  padding: 200px;
  position :relative;


}
.midcont{
  background-color:#FCF8E8 ;
  position: relative;
  padding: 30px 0 ;

}
.botcont{
  background-color:  #EAF6F6;
  position: relative;

}
.h1{
  color:  #66BFBF;
  font-weight: normal;
  font-size: 300%;
  font-family: 'Pacifico', cursive;
}
.h2{
  color:  #66BFBF;
  font-weight: normal;
  font-family: 'Kaushan Script', cursive;
}
p{
  font-size: 20px ;
  margin: 0;
}
hr{
  border-color: grey ;
  border-style:  dotted none none ;
  border-width: 5px;
  width: 5%;

}
.table{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.anchor{
  color: red;

}

/* */

