.face{
  height:12.5rem;
  width:12.5rem;

}
body{
  text-align: center;
   background-color:#FCF8E8 ;
   margin: 0;
 font-family: 'Patrick Hand', cursive;
 width: 100%;
}
.pro{
  text-decoration: underline;
}
.topc{
  position :absolute;
  right : 15%;
  top : 10%;
 max-width: 100%;
}
.botc{
  position :absolute;
    top : 50%  ;
    left : 10%;
    max-width: 100%;
}
.mount{

  max-width: 100%;
}
.topcont{
  background-color: #EAF6F6;
  padding: 6.25rem ;
  position :relative;
margin: 0 auto;

}
.midcont{
  background-color:#FCF8E8 ;
  position: relative;
  padding: 1.875rem 0 ;

}
.botcont{
  background-color:  #EAF6F6;
  position: relative;

}
.h1{
  color:  #66BFBF;
  font-weight: normal;
  font-size: 3rem;
  font-family: 'Pacifico', cursive;
}
.h2{
  color:  #66BFBF;
  font-weight: normal;
  font-family: 'Kaushan Script', cursive;
}
p{
  font-size: 1.25rem ;
  margin: 0;
}
hr{
  border-color: grey ;
  border-style:  dotted none none ;
  border-width: 0.313rem;
  width: 5%;

}
.table{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.anchor{
  color: red;

}
td{
  padding: 0 1.25rem;
}
.icon{
  margin: 0 0.313rem;
}
/* */
@media (min-width : 414px) {
.tor{
  display: inline;
  margin: 0 auto;
}
}
